<div class="container-fluid">
  <nav class="navbar navbar-light bg-light">
    <form class="form-inline container-fluid">
      <% if signed_in? %>
        <div class="row container-fluid">
          <div class="col-6 d-flex justify-content-start"><div><%= link_to current_user.username, edit_user_registration_path%></div></div>
          <div class="col-6 d-flex justify-content-end"><button type="button" class="btn btn-light btn btn-outline-primary"><%= link_to "Salir", destroy_user_session_path, method: :delete %></button></div>
        
      <% else %>
          <div class="col-12 d-flex justify-content-end">
            <button class="btn btn-outline-primary" type="button"><%= link_to "Registrarse", new_user_registration_path %></button>
            <button class="btn btn-outline-primary" type="button"><%= link_to "Ingresar", new_user_session_path %></button>
          </div>
      <% end %>
        </div>
    </form>
  </nav>
</div>